openapi: 3.1.0
info:
  title: 'OGC API - Connected Systems - Part 1: Feature Resources'
  version: 0.0.1
  description: |-
    Example OpenAPI specification for part 1 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).  
    This Standard also conforms to [OGC API - Features](https://ogcapi.ogc.org/features/).
  contact:
    name: OGC API Support
    url: https://www.ogc.org/contact
    email: info@ogc.org
  license:
    name: OGC License
    url: https://www.ogc.org/ogc/Document
  x-logo:
    url: https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg
    backgroundColor: '#FFFFFF'
    altText: OGC logo
    href: https://www.ogc.org
servers:
  - url: https://api.georobotix.io/ogc/t18/api
    description: OGC Testbed Demo Server
  - url: http://localhost:8181/sensorhub/api
    description: Local test server
tags:
  - name: Capabilities
    description: Essential characteristics of the information available from the API.
  - name: Collections
    description: |-
      Collections allow a client to discover available resources in a way that is conformant with OGC API Features
      and OGC API Common.

      All Connected Systems resource types are always available through their canonical collections at the service root,
      but OGC API Collections provide an additional way of grouping and accessing these resources.
      In particular, Collections allow a service provider to group resources logically according to any criteria.

      For example, collections can be used to:
        - Group all `Systems` of the same type (e.g., all UAV platforms, all hydrological sensors, etc.).
        - Group all `Procedures` of the same type (e.g., all platform types, all CBRNE sensor models, etc.).
        - Group resources by project (e.g., all `Deployments`, `Systems`, `Datastreams` and `Sampling Features` relevant to a given data acquisition campaign)
  - name: Systems
    description: |-
      Systems are entities that can produce data feeds and/or receive commands (e.g., sensors and sensor networks, platforms, actuators,
      processing components, etc.). Many systems can be classified as 'observing systems' that produce observations of one or more
      features of interest.
  - name: Deployments
    description: Deployments describe how systems are being deployed at a particular place and time.
  - name: Procedures
    description: |-
      Procedures provide information about the behavior of a system to accomplish its task(s).
      Procedures include descriptions of system kinds (e.g., a hardware device's datasheet), as well as methodologies or specific
      configurations of these systems (e.g., steps followed by an operator to accomplish a sensing or sampling task).
  - name: Sampling Features
    description: |-
      Sampling Features link Systems with ultimate features of interest, describing exactly what part of a larger feature is being
      interacted with.
  - name: Properties
    description: |-
      Property resources provide the definitions of derived properties that are used throughout the API.

      Derived properties are specific to a type of feature, a type of system, or even to a particular organization, project or deployment.
      Property definitions are referenced by feature schemas, system and deployment descriptions, datastream and control stream schemas, etc.

      Depending on the context they are used in, they can represent properties that are asserted (e.g., system characteristic), observed
      (observed or observable property) or controlled (controlled or controllable property).
paths:
  /:
    get:
      summary: Landing Page
      description: The landing page provides links to the API definition, the conformance statements and to the feature collections in this dataset.
      tags:
        - Capabilities
      responses:
        '200':
          $ref: '#/components/responses/landingPage'
  /conformance:
    get:
      summary: Conformance
      description: A list of all conformance classes specified in a standard that the server conforms to.
      tags:
        - Capabilities
      responses:
        '200':
          $ref: '#/components/responses/conformance'
  /collections:
    get:
      summary: List all available collections
      description: List or search all collections available from this server endpoint.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/collections'
  /collections/{collectionId}:
    get:
      summary: Get collection metadata
      description: Retrieve metadata about a specific collection.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/collectionId'
      responses:
        '200':
          $ref: '#/components/responses/collection'
  /collections/{collectionId}/items:
    get:
      summary: List all items in a collection
      description: |-
        Retrieve collections items, which can be Systems, Deployments, Procedures, Sampling Features, Properties, or any other features.

        Please see the documentation of the specifics of each feature type in the corresponding section.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/collectionId'
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/featureCollection'
    post:
      summary: Add an item to a collection
      description: |-
        Add a new resource to the parent collection.

        If actual resource descriptions are provided in the body, new resources will be created and added to the parent collection.
        The new resources will also be available at the corresponding canonical resources endpoint (e.g., `/systems` if the resource is a system).

        Existing resources can also be added to a collection by providing one or more links to existing resources.
      tags:
        - Collections
      requestBody:
        $ref: '#/components/requestBodies/systemOrArrayOrRefs'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /collections/{collectionId}/items/{resourceId}:
    get:
      summary: Get a collection item
      description: Retrieve a specific item from a collection.
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/collectionId'
        - $ref: '#/components/parameters/resourceId'
      responses:
        '200':
          $ref: '#/components/responses/feature'
    delete:
      summary: Remove a collection item
      description: |-
        Remove a resource from a collection.

        The resource will only be removed from the collection but will still be accessible from its canonical resources endpoint.
        (However, removing the resource from its canonical resources endpoint will remove it from all collections)
      tags:
        - Collections
      parameters:
        - $ref: '#/components/parameters/collectionId'
        - $ref: '#/components/parameters/resourceId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems:
    get:
      summary: List all available systems
      description: |-
        List or search all `System` resources available from this server endpoint.

        By default, only top level systems are included (i.e., subsystems are ommitted) unless the `parent` query parameter is set.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/parentIdList'
        - $ref: '#/components/parameters/procedureIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/recursive'
          description: If true, instructs the server to include subsystems in the search results.
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/systemCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Create a new system
      description: Add a new top-level `System` resource (i.e., the system will have no parent).
      tags:
        - Systems
      requestBody:
        $ref: '#/components/requestBodies/system'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems/{systemId}:
    get:
      summary: Get a system by ID
      description: |-
        This will return the latest description of the system valid before or at the current time, by default.

        If system history is supported by the server, descriptions of the system valid at past (or future) time
        can be accessed using the `datetime` parameter or through the `history` sub-collection.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
        - $ref: '#/components/parameters/datetime'
      responses:
        '200':
          $ref: '#/components/responses/system'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a system
      description: |-
        This will completely replace the existing description of the system with the provided content.

        If system history is supported and the `validTime` property starts after the time of the previous description,
        the provided description becomes the current one and all previous descriptions are made available via the
        `history` sub collection.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
      requestBody:
        $ref: '#/components/requestBodies/system'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a system
      description: |-
        This will delete the system and remove it from all collections it is associated to.

        If the `cascade` parameter is used, all associated sub-resources hosted by the same server
        (sampling features, datastreams, command streams, observations, and commmands) are also deleted.

        If system history is supported, all historical descriptions are deleted as well.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
        - $ref: '#/components/parameters/cascade'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems/{systemId}/subsystems:
    get:
      summary: List subsystems
      description: |-
        List or search all `System` resources that are subsystems (i.e., components) of a specific parent system.

        Note that individual members can also be retrieved by ID directly at the canonical `System` resources endpoint.
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/parentIdList'
        - $ref: '#/components/parameters/procedureIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/recursive'
          description: If true, instructs the server to include nested subsystems, recursively.
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/systemCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Add a subsystem
      tags:
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
      requestBody:
        $ref: '#/components/requestBodies/system'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /deployments:
    get:
      summary: List all available deployments
      description: List or search all `Deployment` resources available from this server endpoint.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/parentIdList'
        - $ref: '#/components/parameters/systemIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/deploymentCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Create a deployment
      description: Add a new top-level `Deployment` resource.
      tags:
        - Deployments
      requestBody:
        $ref: '#/components/requestBodies/deployment'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /deployments/{deploymentId}:
    get:
      summary: Get a deployment by ID
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/deploymentId'
      responses:
        '200':
          $ref: '#/components/responses/deployment'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a deployment
      description: This will completely replace the existing description of the deployment with the provided content.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/deploymentId'
      requestBody:
        $ref: '#/components/requestBodies/deployment'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a deployment
      description: This will delete the deployment and remove it from all collections it is associated to.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/deploymentId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /deployments/{deploymentId}/subdeployments:
    get:
      summary: List subdeployments
      description: |-
        List or search all `Deployment` resources that are part of a specific parent deployment.

        Note that individual members can also be retrieved by ID directly at the canonical `Deployment` resources endpoint.
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/deploymentId'
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/parentIdList'
        - $ref: '#/components/parameters/systemIdList'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/recursive'
          description: If true, instructs the server to include nested subdeployments, recursively.
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/deploymentCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Add a subdeployment
      tags:
        - Deployments
      parameters:
        - $ref: '#/components/parameters/deploymentId'
      requestBody:
        $ref: '#/components/requestBodies/deployment'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems/{systemId}/deployments:
    get:
      summary: List deployments of a specific system
      description: ''
      tags:
        - Deployments
        - Systems
      parameters:
        - $ref: '#/components/parameters/systemId'
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/deploymentCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /procedures:
    get:
      summary: List all available procedures
      description: List or search all `Procedure` resources available from this server endpoint.
      tags:
        - Procedures
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/procedureCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Create a procedure
      description: |-
        Add a new `Procedure` resources.

        Note that it is possible to create multiple resources in a single batch request.
        In this case, several resource descriptions are provided in the content body inside a JSON array.
        On success, the server will send a `200` response with the list of URIs of all created resources,
        in the same order as the array in the request.
      tags:
        - Procedures
      requestBody:
        $ref: '#/components/requestBodies/procedure'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /procedures/{procedureId}:
    get:
      summary: Get a procedure by ID
      tags:
        - Procedures
      parameters:
        - $ref: '#/components/parameters/procedureId'
      responses:
        '200':
          $ref: '#/components/responses/procedure'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a procedure
      description: This will completely replace the existing description of the procedure with the provided content.
      tags:
        - Procedures
      parameters:
        - $ref: '#/components/parameters/procedureId'
      requestBody:
        $ref: '#/components/requestBodies/procedure'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a procedure
      description: This will delete the procedure and remove it from all collections it is associated to.
      tags:
        - Procedures
      parameters:
        - $ref: '#/components/parameters/procedureId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /samplingFeatures:
    get:
      summary: List all sampling features
      description: List or search all `Sampling Feature` resources available from this server endpoint.
      tags:
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/samplingFeatureCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /systems/{systemId}/samplingFeatures:
    get:
      summary: List sampling features attached to a specific system
      description: List or search all `Sampling Feature` resources associated to a specific system.
      tags:
        - Systems
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/systemId'
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/bbox'
        - $ref: '#/components/parameters/datetime'
        - $ref: '#/components/parameters/geom'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/foiIdList'
        - $ref: '#/components/parameters/obsPropIdList'
        - $ref: '#/components/parameters/controlPropIdList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/samplingFeatureCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Create a Sampling Feature
      description: Add a new `Sampling Feature` resource. Sampling features are always created inside, and thus attached to a parent system.
      tags:
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/systemId'
      requestBody:
        $ref: '#/components/requestBodies/samplingFeature'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /samplingFeatures/{featureId}:
    get:
      summary: Get a sampling feature by ID
      tags:
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/featureId'
      responses:
        '200':
          $ref: '#/components/responses/samplingFeature'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a sampling feature
      description: This will completely replace the existing description of the sampling feature with the provided content.
      tags:
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/featureId'
      requestBody:
        $ref: '#/components/requestBodies/samplingFeature'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a sampling feature
      description: This will delete the sampling feature and remove it from all collections it is associated to.
      tags:
        - Sampling Features
      parameters:
        - $ref: '#/components/parameters/featureId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
  /properties:
    get:
      summary: List all property definitions
      description: List or search all `Property` resources available from this server endpoint.
      tags:
        - Properties
      parameters:
        - $ref: '#/components/parameters/idList'
        - $ref: '#/components/parameters/keyword'
        - $ref: '#/components/parameters/basePropIdList'
        - $ref: '#/components/parameters/objectTypeUriList'
        - $ref: '#/components/parameters/limit'
      responses:
        '200':
          $ref: '#/components/responses/propertyCollection'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    post:
      summary: Create a property
      description: Add a new `Property` resource.
      tags:
        - Properties
      requestBody:
        $ref: '#/components/requestBodies/property'
      responses:
        '201':
          $ref: '#/components/responses/201'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
  /properties/{propId}:
    get:
      summary: Get a property by ID
      tags:
        - Properties
      parameters:
        - $ref: '#/components/parameters/propId'
      responses:
        '200':
          $ref: '#/components/responses/property'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    put:
      summary: Update a property
      description: This will completely replace the existing definition of the property with the provided content.
      tags:
        - Properties
      parameters:
        - $ref: '#/components/parameters/propId'
      requestBody:
        $ref: '#/components/requestBodies/property'
      responses:
        '204':
          $ref: '#/components/responses/204_PUT'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        5XX:
          $ref: '#/components/responses/5XX'
    delete:
      summary: Delete a property
      description: This will delete the property and remove it from all collections it is associated to.
      tags:
        - Properties
      parameters:
        - $ref: '#/components/parameters/propId'
      responses:
        '204':
          $ref: '#/components/responses/204_DELETE'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '409':
          $ref: '#/components/responses/409_DELETE'
        5XX:
          $ref: '#/components/responses/5XX'
components:
  schemas:
    link:
      type: object
      required:
        - href
        - rel
      properties:
        href:
          type: string
          example: http://data.example.com/buildings/123
        rel:
          type: string
          example: alternate
        type:
          type: string
          example: application/geo+json
        hreflang:
          type: string
          example: en
        title:
          type: string
          example: Trierer Strasse 70, 53115 Bonn
        length:
          type: integer
    landingPage:
      type: object
      required:
        - links
      properties:
        title:
          type: string
          example: Buildings in Bonn
        description:
          type: string
          example: Access to data about buildings in the city of Bonn via a Web API that conforms to the OGC API Features specification.
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    confClasses:
      type: object
      required:
        - conformsTo
      properties:
        conformsTo:
          type: array
          items:
            type: string
            example: http://www.opengis.net/spec/ogcapi-features-1/1.0/conf/core
    datetimeSchema:
      oneOf:
        - title: Time Instant
          description: |-
            ISO 8601 encoded time instant or special value.
            Examples:
              * A time instant: "2020-02-12T23:20:50Z" or "2020-01-15Z"
              * Special indeterminate value: "now", "latest"
          oneOf:
            - title: ISO Date
              type: string
              format: date
            - title: ISO Date/Time
              type: string
              format: date-time
            - title: Special Value
              type: string
              enum:
                - now
                - latest
        - title: Time Period
          description: |-
            ISO 8601 encoded time period that can include special values.
            Examples:
              * A closed interval: "2020-02-12T00:00:00Z/2020-03-18T12:31:12Z" or "2020-01-15Z/2020-02-16Z"
              * An open interval: "2020-02-12T00:00:00Z/.." or "../2020-03-18T12:31:12Z"
              * An interval with indeterminate value: "2020-02-12T00:00:00Z/now", "2020-02-12T00:00:00Z/latest" or "now/.."
          type: array
          minItems: 2
          maxItems: 2
          items:
            oneOf:
              - title: ISO Date
                type: string
                format: date
              - title: ISO Date/Time
                type: string
                format: date-time
              - title: Special Value
                type: string
                enum:
                  - now
                  - latest
    extent:
      description: |-
        The extent of the features in the collection. In the Core only spatial and temporal
        extents are specified. Extensions may add additional members to represent other
        extents, for example, thermal or pressure ranges.

        An array of extents is provided for each extent type (spatial, temporal). The first item
        in the array describes the overall extent of the data. All subsequent items describe more
        precise extents, e.g., to identify clusters of data. Clients only interested in the
        overall extent will only need to access the first extent in the array.
      type: object
      properties:
        spatial:
          description: The spatial extent of the features in the collection.
          type: object
          properties:
            bbox:
              description: |-
                One or more bounding boxes that describe the spatial extent of the dataset.
                In the Core only a single bounding box is supported.

                Extensions may support additional areas.
                The first bounding box describes the overall spatial
                extent of the data. All subsequent bounding boxes describe
                more precise bounding boxes, e.g., to identify clusters of data.
                Clients only interested in the overall spatial extent will
                only need to access the first bounding box in the array.
              type: array
              minItems: 1
              items:
                description: |-
                  Each bounding box is provided as four or six numbers, depending on
                  whether the coordinate reference system includes a vertical axis
                  (height or depth):

                  * Lower left corner, coordinate axis 1
                  * Lower left corner, coordinate axis 2
                  * Minimum value, coordinate axis 3 (optional)
                  * Upper right corner, coordinate axis 1
                  * Upper right corner, coordinate axis 2
                  * Maximum value, coordinate axis 3 (optional)

                  If the value consists of four numbers, the coordinate reference system is
                  WGS 84 longitude/latitude (http://www.opengis.net/def/crs/OGC/1.3/CRS84)
                  unless a different coordinate reference system is specified in `crs`.

                  If the value consists of six numbers, the coordinate reference system is WGS 84
                  longitude/latitude/ellipsoidal height (http://www.opengis.net/def/crs/OGC/0/CRS84h)
                  unless a different coordinate reference system is specified in `crs`.

                  For WGS 84 longitude/latitude the values are in most cases the sequence of
                  minimum longitude, minimum latitude, maximum longitude and maximum latitude.
                  However, in cases where the box spans the antimeridian the first value
                  (west-most box edge) is larger than the third value (east-most box edge).

                  If the vertical axis is included, the third and the sixth number are
                  the bottom and the top of the 3-dimensional bounding box.

                  If a feature has multiple spatial geometry properties, it is the decision of the
                  server whether only a single spatial geometry property is used to determine
                  the extent or all relevant geometries.
                type: array
                oneOf:
                  - minItems: 4
                    maxItems: 4
                  - minItems: 6
                    maxItems: 6
                items:
                  type: number
                example:
                  - -180
                  - -90
                  - 180
                  - 90
            crs:
              description: |-
                Coordinate reference system of the coordinates in the spatial extent
                (property `bbox`). The default reference system is WGS 84 longitude/latitude.
                In the Core the only other supported coordinate reference system is
                WGS 84 longitude/latitude/ellipsoidal height for coordinates with height.
                Extensions may support additional coordinate reference systems and add
                additional enum values.
              type: string
              enum:
                - http://www.opengis.net/def/crs/OGC/1.3/CRS84
                - http://www.opengis.net/def/crs/OGC/0/CRS84h
              default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
        temporal:
          description: The temporal extent of the features in the collection.
          type: object
          properties:
            interval:
              description: |-
                One or more time intervals that describe the temporal extent of the dataset.
                In the Core only a single time interval is supported.

                Extensions may support multiple intervals.
                The first time interval describes the overall
                temporal extent of the data. All subsequent time intervals describe
                more precise time intervals, e.g., to identify clusters of data.
                Clients only interested in the overall temporal extent will only need
                to access the first time interval in the array (a pair of lower and upper
                bound instants).
              type: array
              minItems: 1
              items:
                description: |-
                  Begin and end times of the time interval. The timestamps are in the
                  temporal coordinate reference system specified in `trs`. By default
                  this is the Gregorian calendar.

                  The value `null` at start or end is supported and indicates a half-bounded interval.
                type: array
                minItems: 2
                maxItems: 2
                items:
                  type: string
                  format: date-time
                  nullable: true
                example:
                  - '2011-11-11T12:22:11Z'
                  - null
            trs:
              description: |-
                Coordinate reference system of the coordinates in the temporal extent
                (property `interval`). The default reference system is the Gregorian calendar.
                In the Core this is the only supported temporal coordinate reference system.
                Extensions may support additional temporal coordinate reference systems and add
                additional enum values.
              type: string
              enum:
                - http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
              default: http://www.opengis.net/def/uom/ISO-8601/0/Gregorian
    collection_schema:
      type: object
      required:
        - id
        - links
      properties:
        id:
          description: identifier of the collection used, for example, in URIs
          type: string
          example: address
        title:
          description: human readable title of the collection
          type: string
          example: address
        description:
          description: a description of the features in the collection
          type: string
          example: An address.
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
          example:
            - href: http://data.example.com/buildings
              rel: item
            - href: http://example.com/concepts/buildings.html
              rel: describedby
              type: text/html
        extent:
          $ref: '#/components/schemas/extent'
        itemType:
          description: indicator about the type of the items in the collection (the default value is 'feature').
          type: string
          default: feature
        crs:
          description: the list of coordinate reference systems supported by the service
          type: array
          items:
            type: string
          default: http://www.opengis.net/def/crs/OGC/1.3/CRS84
          example:
            - http://www.opengis.net/def/crs/OGC/1.3/CRS84
            - http://www.opengis.net/def/crs/EPSG/0/4326
    idListSchema:
      description: List of resource local IDs or unique identifiers (URIs).
      oneOf:
        - type: array
          title: Local IDs
          minItems: 1
          items:
            type: string
            minLength: 1
        - type: array
          title: Unique IDs
          minItems: 1
          items:
            type: string
            format: uri
    pointGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Point
        coordinates:
          type: array
          minItems: 2
          items:
            type: number
    multipointGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiPoint
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: number
    linestringGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - LineString
        coordinates:
          type: array
          minItems: 2
          items:
            type: array
            minItems: 2
            items:
              type: number
    multilinestringGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiLineString
        coordinates:
          type: array
          items:
            type: array
            minItems: 2
            items:
              type: array
              minItems: 2
              items:
                type: number
    polygonGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - Polygon
        coordinates:
          type: array
          items:
            type: array
            minItems: 4
            items:
              type: array
              minItems: 2
              items:
                type: number
    multipolygonGeoJSON:
      type: object
      required:
        - type
        - coordinates
      properties:
        type:
          type: string
          enum:
            - MultiPolygon
        coordinates:
          type: array
          items:
            type: array
            items:
              type: array
              minItems: 4
              items:
                type: array
                minItems: 2
                items:
                  type: number
    geometryGeoJSON:
      oneOf:
        - $ref: '#/components/schemas/pointGeoJSON'
        - $ref: '#/components/schemas/multipointGeoJSON'
        - $ref: '#/components/schemas/linestringGeoJSON'
        - $ref: '#/components/schemas/multilinestringGeoJSON'
        - $ref: '#/components/schemas/polygonGeoJSON'
        - $ref: '#/components/schemas/multipolygonGeoJSON'
        - $ref: '#/components/schemas/geometrycollectionGeoJSON'
    geometrycollectionGeoJSON:
      type: object
      required:
        - type
        - geometries
      properties:
        type:
          type: string
          enum:
            - GeometryCollection
        geometries:
          type: array
          items:
            $ref: '#/components/schemas/geometryGeoJSON'
    featureGeoJSON:
      type: object
      required:
        - type
        - geometry
        - properties
      properties:
        type:
          type: string
          enum:
            - Feature
        geometry:
          $ref: '#/components/schemas/geometryGeoJSON'
        properties:
          type: object
          nullable: true
        id:
          oneOf:
            - type: string
            - type: integer
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
    featureCollectionGeoJSON:
      type: object
      required:
        - type
        - features
      properties:
        type:
          type: string
          enum:
            - FeatureCollection
        features:
          type: array
          items:
            $ref: '#/components/schemas/featureGeoJSON'
        links:
          type: array
          items:
            $ref: '#/components/schemas/link'
        timeStamp:
          type: string
          format: date-time
        numberMatched:
          type: integer
          minimum: 0
        numberReturned:
          type: integer
          minimum: 0
    Feature:
      $schema: http://json-schema.org/draft-07/schema#
      $id: https://geojson.org/schema/Feature.json
      title: GeoJSON Feature
      type: object
      required:
        - type
        - properties
        - geometry
      properties:
        type:
          type: string
          enum:
            - Feature
        id:
          oneOf:
            - type: number
            - type: string
        properties:
          oneOf:
            - type: 'null'
            - type: object
        geometry:
          oneOf:
            - type: 'null'
            - title: GeoJSON Point
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - Point
                coordinates:
                  type: array
                  minItems: 2
                  items:
                    type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON LineString
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - LineString
                coordinates:
                  type: array
                  minItems: 2
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON Polygon
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - Polygon
                coordinates:
                  type: array
                  items:
                    type: array
                    minItems: 4
                    items:
                      type: array
                      minItems: 2
                      items:
                        type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON MultiPoint
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - MultiPoint
                coordinates:
                  type: array
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON MultiLineString
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - MultiLineString
                coordinates:
                  type: array
                  items:
                    type: array
                    minItems: 2
                    items:
                      type: array
                      minItems: 2
                      items:
                        type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON MultiPolygon
              type: object
              required:
                - type
                - coordinates
              properties:
                type:
                  type: string
                  enum:
                    - MultiPolygon
                coordinates:
                  type: array
                  items:
                    type: array
                    items:
                      type: array
                      minItems: 4
                      items:
                        type: array
                        minItems: 2
                        items:
                          type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
            - title: GeoJSON GeometryCollection
              type: object
              required:
                - type
                - geometries
              properties:
                type:
                  type: string
                  enum:
                    - GeometryCollection
                geometries:
                  type: array
                  items:
                    oneOf:
                      - title: GeoJSON Point
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - Point
                          coordinates:
                            type: array
                            minItems: 2
                            items:
                              type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                      - title: GeoJSON LineString
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - LineString
                          coordinates:
                            type: array
                            minItems: 2
                            items:
                              type: array
                              minItems: 2
                              items:
                                type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                      - title: GeoJSON Polygon
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - Polygon
                          coordinates:
                            type: array
                            items:
                              type: array
                              minItems: 4
                              items:
                                type: array
                                minItems: 2
                                items:
                                  type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                      - title: GeoJSON MultiPoint
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - MultiPoint
                          coordinates:
                            type: array
                            items:
                              type: array
                              minItems: 2
                              items:
                                type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                      - title: GeoJSON MultiLineString
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - MultiLineString
                          coordinates:
                            type: array
                            items:
                              type: array
                              minItems: 2
                              items:
                                type: array
                                minItems: 2
                                items:
                                  type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                      - title: GeoJSON MultiPolygon
                        type: object
                        required:
                          - type
                          - coordinates
                        properties:
                          type:
                            type: string
                            enum:
                              - MultiPolygon
                          coordinates:
                            type: array
                            items:
                              type: array
                              items:
                                type: array
                                minItems: 4
                                items:
                                  type: array
                                  minItems: 2
                                  items:
                                    type: number
                          bbox:
                            type: array
                            minItems: 4
                            items:
                              type: number
                bbox:
                  type: array
                  minItems: 4
                  items:
                    type: number
        bbox:
          type: array
          minItems: 4
          items:
            type: number
    link-2:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link
      description: Link object following standard Web Linking conventions (see RFC5988 and RFC6690)
      type: object
      required:
        - href
      properties:
        href:
          description: URL of target resource
          type: string
          format: uri
          examples:
            - https://data.example.com/link/to/resource
        rel:
          description: Link relation type
          type: string
          examples:
            - alternate
            - self
            - http://www.opengis.net/def/rel/ogc/1.0/conformance
        type:
          description: Media type of target resource
          type: string
          examples:
            - application/json
            - image/tiff; application=geotiff
        hreflang:
          description: Language tag of target resource (2-letter language code, followed by optional 2-letter region code)
          type: string
          minLength: 1
          pattern: ^([a-z]{2}(-[A-Z]{2})?)|x-default$
          examples:
            - en-US
            - fr-FR
            - de
        title:
          description: Title of target resource
          type: string
          minLength: 1
          examples:
            - Resource Name
        uid:
          description: Unique identifier of target resource
          type: string
          format: uri
          examples:
            - urn:x-org:resourceType:0001
        rt:
          description: Semantic type of target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.example.org/uri/of/concept
        if:
          description: Interface used to access target resource (RFC 6690)
          type: string
          format: uri
          examples:
            - http://www.opengis.net/spec/spec-id/version
    links:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Link Collection
      type: array
      minItems: 1
      items:
        $ref: '#/components/schemas/link-2'
    feature:
      $schema: https://json-schema.org/draft/2020-12/schema
      allOf:
        - $ref: '#/components/schemas/Feature'
        - type: object
          properties:
            id:
              description: Local ID of the feature (ignored on create or update)
              minLength: 1
            geometry:
              description: Geometry of the feature
            bbox:
              description: Optional bounding box for the feature
            properties:
              description: Feature properties
              type: object
              required:
                - featureType
                - uid
                - name
              properties:
                featureType:
                  description: Identifier of the type of feature, either a URI, a CURIE, or a simple token
                  type: string
                uid:
                  description: Globally unique identifier of the feature
                  type: string
                  format: uri
                  example: urn:x-org:namespace:id
                name:
                  description: Human readable name of the feature
                  type: string
                  minLength: 1
                description:
                  description: Human readable description of the feature
                  type: string
                  minLength: 1
            links:
              description: Links to related resources
              $ref: '#/components/schemas/links'
    SystemTypeUris:
      type: string
      enum:
        - http://www.w3.org/ns/sosa/Sensor
        - http://www.w3.org/ns/sosa/Actuator
        - http://www.w3.org/ns/sosa/Platform
        - http://www.w3.org/ns/sosa/Sampler
        - http://www.w3.org/ns/sosa/System
        - sosa:Sensor
        - sosa:Actuator
        - sosa:Platform
        - sosa:Sampler
        - sosa:System
    timeInstant:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      type: string
      format: date-time
    timeInstantOrNow:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Instant
      oneOf:
        - $ref: '#/components/schemas/timeInstant'
        - type: string
          const: now
    timePeriod:
      $schema: https://json-schema.org/draft/2020-12/schema
      title: Time Period
      type: array
      minItems: 2
      maxItems: 2
      items:
        $ref: '#/components/schemas/timeInstantOrNow'
    system:
      $schema: https://json-schema.org/draft/2020-12/schema
      allOf:
        - $ref: '#/components/schemas/feature'
        - properties:
            properties:
              properties:
                featureType:
                  $ref: '#/components/schemas/SystemTypeUris'
                assetType:
                  description: Type of asset represented by this system.
                  type: string
                  enum:
                    - Equipment
                    - Human
                    - LivingThing
                    - Simulation
                    - Process
                    - Group
                    - Other
                validTime:
                  description: Time period during which the system description is valid.
                  $ref: '#/components/schemas/timePeriod'
                systemKind@link:
                  description: Link to the system kind description (i.e., its nature or specifications).
                  $ref: '#/components/schemas/link-2'
    NameToken:
      type: string
      minLength: 1
      pattern: ^[A-Za-z][A-Za-z0-9_\-]*$
    SoftNamedProperty:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/NameToken'
      required:
        - name
    AbstractSWE:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Base substitution groups for all SWE Common objects other than value objects
      type: object
      properties:
        id:
          description: The ID of the object, referenceable using a URI fragment
          type: string
          minLength: 1
    AbstractSweIdentifiable:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Base substitution groups for all SWE Common objects with identification metadata
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            label:
              description: Human readable label for the object
              type: string
              minLength: 1
            description:
              description: Human readable description of the object
              type: string
              minLength: 1
    AbstractDataComponent:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Abstract base class for all data components
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSweIdentifiable'
        - properties:
            type:
              type: string
            updatable:
              description: Specifies if the value of a data component can be updated externally (i.e., is variable)
              type: boolean
              default: false
            optional:
              description: Specifies if the data for this component can be omitted in the datastream
              type: boolean
              default: false
            definition:
              description: The definition of the property whose value is provided by this component (semantic link)
              type: string
              format: uri
    AbstractSimpleComponent:
      $schema: https://json-schema.org/draft/2020-12/schema
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            referenceFrame:
              description: Frame of reference (usually temporal or spatial) with respect to which the value of the component is expressed. A reference frame anchors a value to a real world datum.
              type: string
              format: uri-reference
            axisID:
              description: Specifies the reference axis (refer to CRS axisID). The reference frame URI should also be specified unless it is inherited from parent Vector
              type: string
              minLength: 1
            nilValues:
              description: Defines reserved values with special meaning (e.g., missing, out-of-range, etc.)
            constraint: {}
            value:
              description: Inline value(s) for the component. This property is optional to enable structure to act as a schema for values provided separately (e.g., in a datastream)
    Boolean:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: 'Scalar component used to express truth: True or False, 0 or 1'
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Boolean
            value:
              type: boolean
          required:
            - type
            - definition
            - label
    NumberOrSpecial:
      oneOf:
        - title: Number
          type: number
        - title: Special Value
          type: string
          enum:
            - NaN
            - Infinity
            - +Infinity
            - '-Infinity'
    AllowedValues:
      description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
      type: object
      properties:
        type:
          const: AllowedValues
        values:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/NumberOrSpecial'
        intervals:
          type: array
          minItems: 1
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              $ref: '#/components/schemas/NumberOrSpecial'
        significantFigures:
          type: integer
          minimum: 1
          maximum: 40
      anyOf:
        - title: Enum Values
          required:
            - values
        - title: Intervals
          required:
            - intervals
    NilValuesInteger:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            type: integer
        required:
          - reason
          - value
        additionalProperties: false
    Count:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component with integer representation used for a discrete counting value
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Count
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesInteger'
            value:
              type: integer
          required:
            - type
            - definition
            - label
    UnitReference:
      type: object
      properties:
        label:
          description: A human readable label for the unit
          type: string
          minLength: 1
        symbol:
          description: The preferred unit symbol to use when presenting the data in a UI (use the UCUM code instead if no symbol is provided)
          type: string
          minLength: 1
        code:
          type: string
          minLength: 1
        href:
          type: string
          format: uri
      anyOf:
        - title: UCUM Code
          required:
            - code
        - title: URI
          required:
            - href
      unevaluatedProperties: false
    NilValuesNumber:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            $ref: '#/components/schemas/NumberOrSpecial'
        required:
          - reason
          - value
        additionalProperties: false
    Quantity:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component with decimal representation and a unit of measure used to store value of a continuous quantity
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Quantity
            uom:
              description: Unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesNumber'
            value:
              $ref: '#/components/schemas/NumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    DateTimeNumberOrSpecial:
      oneOf:
        - title: Date/Time
          type: string
          format: date-time
        - $ref: '#/components/schemas/NumberOrSpecial'
    AllowedTimes:
      description: Defines the permitted values for the component, as a time range or an enumerated list of time values
      type: object
      properties:
        type:
          const: AllowedTimes
        values:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        intervals:
          type: array
          items:
            type: array
            minItems: 2
            maxItems: 2
            items:
              $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        significantFigures:
          type: integer
          minimum: 1
          maximum: 40
      anyOf:
        - title: Enum Values
          required:
            - values
        - title: Intervals
          required:
            - intervals
    NilValuesTime:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            $ref: '#/components/schemas/DateTimeNumberOrSpecial'
        required:
          - reason
          - value
        additionalProperties: false
    Time:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component used to represent a time quantity either as ISO 8601 (e.g., 2004-04-18T12:03:04.6Z) or as a duration relative to a time of reference
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Time
            referenceTime:
              description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
              type: string
              format: date-time
            localFrame:
              description: Temporal frame of reference whose origin is located by the value of this component
              type: string
              format: uri
            uom:
              description: Temporal unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedTimes'
            nilValues:
              $ref: '#/components/schemas/NilValuesTime'
            value:
              $ref: '#/components/schemas/DateTimeNumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    AllowedTokens:
      description: Defines permitted values for the component, as an enumerated list of tokens or a regular expression pattern
      type: object
      oneOf:
        - title: Enum Values
          properties:
            type:
              const: AllowedTokens
            values:
              type: array
              minItems: 1
              items:
                type: string
                minLength: 1
          required:
            - values
        - title: Regex Pattern
          properties:
            type:
              const: AllowedTokens
            pattern:
              type: string
              format: regex
              minLength: 1
          required:
            - pattern
    NilValuesText:
      type: array
      minItems: 1
      items:
        type: object
        properties:
          reason:
            description: The reason for using the reserved value
            type: string
            format: uri
          value:
            description: The reserved value itself
            type: string
        required:
          - reason
          - value
        additionalProperties: false
    Category:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Scalar component used to represent a categorical value as a simple token identifying a term in a code space
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Category
            codeSpace:
              description: Name of the dictionary where the possible values for this component are listed and defined
              type: string
              format: uri
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: string
          required:
            - type
            - definition
            - label
    Text:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Free text component used to store comments or any other type of textual statement
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: Text
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: string
          required:
            - type
            - definition
            - label
    AnyScalarComponent:
      oneOf:
        - $ref: '#/components/schemas/Boolean'
        - $ref: '#/components/schemas/Count'
        - $ref: '#/components/schemas/Quantity'
        - $ref: '#/components/schemas/Time'
        - $ref: '#/components/schemas/Category'
        - $ref: '#/components/schemas/Text'
    CountRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Integer pair used for specifying a count range
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: CountRange
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: integer
          required:
            - type
            - definition
            - label
    QuantityRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Decimal pair for specifying a quantity range with a unit of measure
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: QuantityRange
            uom:
              description: Unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            nilValues:
              $ref: '#/components/schemas/NilValuesNumber'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                $ref: '#/components/schemas/NumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    TimeRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Time value pair for specifying a time range (can be a decimal or ISO 8601)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: TimeRange
            referenceTime:
              description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
              type: string
              format: date-time
            localFrame:
              description: Temporal frame of reference whose origin is located by the value of this component
              type: string
              format: uri
            uom:
              description: Temporal unit of measure used to express the value of this data component
              $ref: '#/components/schemas/UnitReference'
            constraint:
              $ref: '#/components/schemas/AllowedTimes'
            nilValues:
              $ref: '#/components/schemas/NilValuesTime'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                $ref: '#/components/schemas/DateTimeNumberOrSpecial'
          required:
            - type
            - definition
            - label
            - uom
    CategoryRange:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Pair of categorical values used to specify a range in an ordinal reference system (specified by the code space)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            type:
              const: CategoryRange
            codeSpace:
              description: Name of the dictionary defining an ordered set of values with respect to which the range is expressed (ordinal reference system)
              type: string
              format: uri
            constraint:
              $ref: '#/components/schemas/AllowedTokens'
            nilValues:
              $ref: '#/components/schemas/NilValuesText'
            value:
              type: array
              minItems: 2
              maxItems: 2
              items:
                type: string
          required:
            - type
            - definition
            - label
    AnySimpleComponent:
      oneOf:
        - $ref: '#/components/schemas/AnyScalarComponent'
        - $ref: '#/components/schemas/CountRange'
        - $ref: '#/components/schemas/QuantityRange'
        - $ref: '#/components/schemas/TimeRange'
        - $ref: '#/components/schemas/CategoryRange'
    AssociationAttributeGroup:
      type: object
      properties:
        href:
          type: string
          format: uri-reference
        role:
          type: string
          format: uri
        arcrole:
          type: string
          format: uri
        title:
          type: string
          minLength: 1
      required:
        - href
    AnyComponent:
      oneOf:
        - $ref: '#/components/schemas/AnySimpleComponent'
        - $ref: '#/components/schemas/DataRecord'
        - $ref: '#/components/schemas/Vector'
        - $ref: '#/components/schemas/DataArray'
        - $ref: '#/components/schemas/Matrix'
        - $ref: '#/components/schemas/DataChoice'
        - $ref: '#/components/schemas/Geometry-2'
    DataRecord:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Record datatype. This allows grouping (sequence) of data components which can themselves be simple types, records, arrays or choices
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: DataRecord
            fields:
              description: Definition of the record fields. Fields can be scalars or can themself be aggregates such as records, vectors, arrays, or choices.
              type: array
              minItems: 1
              items:
                allOf:
                  - $ref: '#/components/schemas/SoftNamedProperty'
                  - oneOf:
                      - $ref: '#/components/schemas/AssociationAttributeGroup'
                      - $ref: '#/components/schemas/AnyComponent'
          required:
            - type
            - fields
    Vector:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of a mathematical vector composed of a list of scalar coordinates expressed in the mandatory reference frame.
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: Vector
            referenceFrame:
              description: Frame of reference (usually spatial) with respect to which the coordinates of this vector are expressed. A reference frame anchors a vector value to a real world datum.
              type: string
              format: uri-reference
            localFrame:
              description: Frame of reference whose origin is located by the coordinates of this vector
              type: string
              format: uri-reference
            coordinates:
              description: Definition of the coordinate provided as a data component with a numerical representation
              type: array
              items:
                allOf:
                  - $ref: '#/components/schemas/SoftNamedProperty'
                  - oneOf:
                      - $ref: '#/components/schemas/Count'
                      - $ref: '#/components/schemas/Quantity'
                      - $ref: '#/components/schemas/Time'
          required:
            - type
            - definition
            - referenceFrame
            - label
            - coordinates
    ElementCount:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSimpleComponent'
        - properties:
            constraint:
              $ref: '#/components/schemas/AllowedValues'
            value:
              description: Value is optional, to enable structure to act as a schema for values provided using other encodings
              type: integer
    AbstractEncoding:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties: {}
    Component:
      description: Binary encoding parameters used for encoding a single data component
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            type:
              const: Component
            encryption:
              description: Name of the encryption method used to encrypt the value of this field
              type: string
              format: uri
            significantBits:
              description: Number of significant bits actually used for a binary encoded numerical value (all remaining bits shall be set to 0)
              type: integer
            bitLength:
              type: integer
            byteLength:
              description: Byte length of this field when a custom data type is used
              type: integer
            dataType:
              description: Binary data type used to encode the value(s) of the referenced data component
              type: string
              format: uri
            ref:
              description: Reference to the data component that these binary encoding settings apply to
              type: string
          required:
            - type
            - dataType
            - ref
    Block:
      description: Binary encoding parameters used to encode a block of values at once. This is used for encrypting or compressing a complete array of values for instance
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractSWE'
        - properties:
            type:
              const: Block
            compression:
              description: Name of the compression method used to encrypt the block of values described by the referenced data component
              type: string
              format: uri
            encryption:
              description: Name of the encryption method used to encrypt the block of values described by the referenced data component
              type: string
              format: uri
            paddingBytes-after:
              description: Number of padding bytes present in the stream after this binary block
              type: integer
            paddingBytes-before:
              description: Number of padding bytes present in the stream before this binary block
              type: integer
            byteLength:
              description: Length in byte of this binary block (if known in advance)
              type: integer
            ref:
              description: Reference to the aggregate data component that this binary block encoding settings apply to
              type: string
          required:
            - type
            - ref
    BinaryEncoding:
      description: Parameters of the binary encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: BinaryEncoding
            byteOrder:
              description: Byte order convention used to encode this binary data (big endian = most significant byte first, MSB or little endian = least significant byte first, LSB)
              type: string
              enum:
                - bigEndian
                - littleEndian
            byteEncoding:
              description: Byte encoding method used to encode the binary data (raw or base 64)
              type: string
              enum:
                - base64
                - raw
            byteLength:
              description: Total length in bytes of the binary stream (if known in advance)
              type: integer
            members:
              description: Each member contains detailed parameters for encoding a scalar value or a block of values
              type: array
              minItems: 1
              items:
                oneOf:
                  - $ref: '#/components/schemas/Component'
                  - $ref: '#/components/schemas/Block'
          required:
            - type
            - byteOrder
            - byteEncoding
            - members
    TextEncoding:
      description: Parameters of the text encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: TextEncoding
            collapseWhiteSpaces:
              description: Indicates whether white spaces (i.e., space, tab, CR, LF) should be collapsed with separators when parsing the data stream
              type: boolean
            decimalSeparator:
              description: Character used as the decimal separator
              type: string
              minLength: 1
            tokenSeparator:
              description: Character sequence used as the token separator (i.e., between two successive values)
              type: string
              minLength: 1
            blockSeparator:
              description: Character sequence used as the block separator (i.e., between two successive blocks in the data set. The end of a block is reached once all values from the data tree have been encoded once)
              type: string
              minLength: 1
          required:
            - type
            - tokenSeparator
            - blockSeparator
    XMLEncoding:
      description: Parameters of the XML encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: XMLEncoding
            namespace:
              type: string
              format: uri
          required:
            - type
    JSONEncoding:
      description: Parameters of the JSON encoding method
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractEncoding'
        - properties:
            type:
              const: JSONEncoding
            recordsAsArrays:
              type: boolean
              default: false
              description: If true, DataRecord values are encoded as JSON arrays instead of JSON objects
            vectorsAsArrays:
              type: boolean
              default: false
              description: If true, Vector values are encoded as JSON arrays instead of JSON objects
          required:
            - type
    EncodedValues:
      oneOf:
        - type: array
        - $ref: '#/components/schemas/AssociationAttributeGroup'
    AbstractArray:
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            elementCount:
              description: Specifies the size of the array (i.e., the number of elements of the defined type it contains)
              oneOf:
                - $ref: '#/components/schemas/AssociationAttributeGroup'
                - $ref: '#/components/schemas/ElementCount'
            elementType:
              description: Defines the structure of the element that will be repeated in the array
              allOf:
                - $ref: '#/components/schemas/SoftNamedProperty'
                - oneOf:
                    - $ref: '#/components/schemas/AssociationAttributeGroup'
                    - $ref: '#/components/schemas/AnyComponent'
            encoding:
              description: Specifies the type of method used to encode the array values
              oneOf:
                - $ref: '#/components/schemas/BinaryEncoding'
                - $ref: '#/components/schemas/TextEncoding'
                - $ref: '#/components/schemas/XMLEncoding'
                - $ref: '#/components/schemas/JSONEncoding'
            values:
              description: If present, contains an encoded block of the values contained in the array. Values are optional so that the array definition can be used a as a schema for values provided separately
              $ref: '#/components/schemas/EncodedValues'
    DataArray:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Array datatype. This defines an array of identical data components with a elementCount. Values are given as a block and can be encoded in different ways
      allOf:
        - $ref: '#/components/schemas/AbstractArray'
        - properties:
            type:
              const: DataArray
          required:
            - type
            - elementType
      $defs:
        AbstractArray:
          type: object
          allOf:
            - $ref: '#/components/schemas/AbstractDataComponent'
            - properties:
                elementCount:
                  description: Specifies the size of the array (i.e., the number of elements of the defined type it contains)
                  oneOf:
                    - $ref: '#/components/schemas/AssociationAttributeGroup'
                    - $ref: '#/components/schemas/ElementCount'
                elementType:
                  description: Defines the structure of the element that will be repeated in the array
                  allOf:
                    - $ref: '#/components/schemas/SoftNamedProperty'
                    - oneOf:
                        - $ref: '#/components/schemas/AssociationAttributeGroup'
                        - $ref: '#/components/schemas/AnyComponent'
                encoding:
                  description: Specifies the type of method used to encode the array values
                  oneOf:
                    - $ref: '#/components/schemas/BinaryEncoding'
                    - $ref: '#/components/schemas/TextEncoding'
                    - $ref: '#/components/schemas/XMLEncoding'
                    - $ref: '#/components/schemas/JSONEncoding'
                values:
                  description: If present, contains an encoded block of the values contained in the array. Values are optional so that the array definition can be used a as a schema for values provided separately
                  $ref: '#/components/schemas/EncodedValues'
    Matrix:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of ISO-11404 Array datatype. This defines an array of identical data components with a elementCount. Values are given as a block and can be encoded in different ways
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractArray'
        - properties:
            type:
              const: Matrix
            referenceFrame:
              description: Frame of reference (usually spatial) with respect to which the coordinates of this matrix are expressed
              type: string
              format: uri-reference
            localFrame:
              description: Frame of reference whose position and orientation are provided by the transformation defined by this matrix
              type: string
              format: uri-reference
          required:
            - type
            - elementType
    DataChoice:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: Implementation of a choice of two or more Data Components (also called disjoint union)
      type: object
      allOf:
        - $ref: '#/components/schemas/AbstractDataComponent'
        - properties:
            type:
              const: DataChoice
            choiceValue:
              description: This category component marks the data stream element that will indicate the actual choice made. Possible choices are listed in the Category constraint section as an enumeration and should map to item names.
              $ref: '#/components/schemas/Category'
            items:
[...]
