openapi: 3.1.0
info:
  title: 'OGC API - Connected Systems - Part 2: Dynamic Data'
  version: 0.0.1
  description: Example OpenAPI specification for part 2 of [OGC API - Connected Systems](https://github.com/opengeospatial/connected_systems).
  contact:
    name: OGC API Support
    url: https://www.ogc.org/contact
    email: info@ogc.org
  license:
    name: OGC License
    url: https://www.ogc.org/ogc/Document
  x-logo:
    url: https://www.ogc.org/wp-content/uploads/2023/03/OGC-1.svg
    backgroundColor: '#FFFFFF'
    altText: OGC logo
    href: https://www.ogc.org
servers:
  - url: https://api.georobotix.io/ogc/t18/api
    description: OGC Testbed Demo Server
  - url: http://localhost:8181/sensorhub/api
    description: Local test server
tags:
  - name: Data Streams
    description: |-
      Datastreams allow access to observations produced by systems, in various formats.
      They also provide metadata describing the exact meaning of properties included in the observations.

      API clients can act both as sender of receiver of observations.
  - name: Observations
    description: Access to historical and real-time observations.
  - name: Control Streams
    description: |-
      Control channels (or control streams) allow sending commands to systems, in various formats.
      They also provide metadata describing the exact meaning and content of command messages.

      API clients can act both as sender or receiver of commands.
  - name: Commands
    description: Access to historical and real-time commands.
  - name: System Events
    description: System events are used to notify users of changes to one or more systems.
  - name: System History
    description: Advanced access to historical system descriptions.
paths:
  /datastreams:
    get:
      summary: List all available datastreams
      description: List or search all datastreams available from this server endpoint.
      tags:
        - Data Streams
      parameters:
        - name: id
          description: |-
            List of resource local IDs or unique IDs (URI).
            Only resources that have one of the provided identifiers are selected.
          in: query
          required: false
          schema: &ref_68
            description: List of resource local IDs or unique identifiers (URIs).
            oneOf: &ref_10
              - type: array
                title: Local IDs
                minItems: 1
                items:
                  type: string
                  minLength: 1
              - type: array
                title: Unique IDs
                minItems: 1
                items:
                  type: string
                  format: uri
          explode: false
          examples: &ref_69
            id:
              summary: Local IDs
              value: RES_ID1,RES_ID2,RES_ID63
            uri:
              summary: Unique IDs
              value: urn:example:resource:001,urn:example:resource:033
        - name: q
          in: query
          description: |-
            Comma separated list of keywords used for full-text search.
            Only resources that have textual fields that contain one of the specified keywords are selected.
            The resource `name` and `description` properties are always searched.
            It is up to the server to decide which other textual fields are searched.
          required: false
          schema: &ref_49
            type: array
            items:
              type: string
              minLength: 1
              maxLength: 50
          explode: false
          examples: &ref_50
            case1:
              summary: One keyword
              value: temp
            case2:
              summary: Several keywords
              value: gps,imu
        - name: phenomenonTime
          in: query
          description: |-
            Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
            Intervals may be bounded or half-bounded (double-dots at start or end).

            Only resources with a `phenomenonTime` property that intersects the value of the
            `phenomenonTime` parameter are selected.
          required: false
          schema: &ref_45
            oneOf: &ref_0
              - title: Time Instant
                description: |-
                  ISO 8601 encoded time instant or special value.
                  Examples:
                    * A time instant: "2020-02-12T23:20:50Z" or "2020-01-15Z"
                    * Special indeterminate value: "now", "latest"
                oneOf:
                  - title: ISO Date
                    type: string
                    format: date
                  - title: ISO Date/Time
                    type: string
                    format: date-time
                  - title: Special Value
                    type: string
                    enum:
                      - now
                      - latest
              - title: Time Period
                description: |-
                  ISO 8601 encoded time period that can include special values.
                  Examples:
                    * A closed interval: "2020-02-12T00:00:00Z/2020-03-18T12:31:12Z" or "2020-01-15Z/2020-02-16Z"
                    * An open interval: "2020-02-12T00:00:00Z/.." or "../2020-03-18T12:31:12Z"
                    * An interval with indeterminate value: "2020-02-12T00:00:00Z/now", "2020-02-12T00:00:00Z/latest" or "now/.."
                type: array
                minItems: 2
                maxItems: 2
                items:
                  oneOf:
                    - title: ISO Date
                      type: string
                      format: date
                    - title: ISO Date/Time
                      type: string
                      format: date-time
                    - title: Special Value
                      type: string
                      enum:
                        - now
                        - latest
          style: form
          explode: false
          examples: &ref_46
            instant: &ref_1
              summary: Time instant
              value: '2018-02-12T23:20:50Z'
            now: &ref_2
              summary: Current time
              value: now
            period: &ref_3
              summary: Bounded interval
              value: 2018-02-12T00:00:00Z/2018-03-18T12:31:12Z
            period2: &ref_4
              summary: Half-bounded interval
              value: 2018-02-12T00:00:00Z/..
            period3: &ref_5
              summary: From date/time to now
              value: 2018-02-12T00:00:00Z/now
            period4: &ref_6
              summary: From now to date/time
              value: now/2018-02-12T00:00:00Z
            period5: &ref_7
              summary: Anything up to now
              value: ../now
            period6: &ref_8
              summary: Anything from now on
              value: now/..
            latest: &ref_9
              summary: Latest
              value: latest
        - name: resultTime
          in: query
          description: |-
            Either a date-time or an interval. Date and time expressions adhere to RFC 3339. 
            Intervals may be bounded or half-bounded (double-dots at start or end).

            Only resources with a `resultTime` property that intersects the value of the
            `resultTime` parameter are selected.
          required: false
          schema: &ref_47
            oneOf: *ref_0
          style: form
          explode: false
          examples: &ref_48
            instant: *ref_1
            now: *ref_2
            period: *ref_3
            period2: *ref_4
            period3: *ref_5
            period4: *ref_6
            period5: *ref_7
            period6: *ref_8
            latest: *ref_9
        - name: system
          description: |-
            List of system local IDs or unique IDs (URI).
            Only resources that are associated to a System that has one of the provided identifiers are selected.
          in: query
          required: false
          schema: &ref_70
            description: List of resource local IDs or unique identifiers (URIs).
            oneOf: *ref_10
          explode: false
        - name: foi
          description: |-
            List of feature local IDs or unique IDs (URI).
            Only resources that are associated to a feature of interest that has one of the provided identifiers are selected.
          in: query
          required: false
          schema: &ref_71
            description: List of resource local IDs or unique identifiers (URIs).
            oneOf: *ref_10
          explode: false
        - name: observedProperty
          description: |-
            List of property local IDs or unique IDs (URI).
            Only resources that are associated to an observable property that has one of the provided identifiers are selected.
          in: query
          required: false
          schema: &ref_72
            description: List of resource local IDs or unique identifiers (URIs).
            oneOf: *ref_10
          explode: false
        - name: limit
          in: query
          description: |-
            This parameter limits the number of items that are presented in the response document.

            Only items that are on the first level of the collection in the response document are counted.
            Nested objects contained within the explicitly requested items shall not be counted.
          required: false
          schema: &ref_51
            type: integer
            minimum: 1
            maximum: 10000
            default: 10
          style: form
          explode: false
      responses:
        '200':
          description: OK. Successful request
          content: &ref_52
            application/json:
              schema:
                $schema: https://json-schema.org/draft/2020-12/schema
                type: object
                properties: &ref_218
                  items:
                    type: array
                    items:
                      $schema: https://json-schema.org/draft/2020-12/schema
                      allOf: &ref_53
                        - $schema: https://json-schema.org/draft/2020-12/schema
                          type: object
                          properties: &ref_79
                            id:
                              description: Local resource ID. If set on creation, the server may ignore it.
                              type: string
                              minLength: 1
                              readOnly: true
                            name:
                              description: Human readable name of the resource
                              type: string
                              minLength: 1
                            description:
                              description: Human readable description of the resource
                              type: string
                              minLength: 1
                            validTime:
                              description: Validity period of the resource
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Time Period
                              type: array
                              minItems: 2
                              maxItems: 2
                              items: &ref_13
                                $schema: https://json-schema.org/draft/2020-12/schema
                                title: Time Instant
                                oneOf: &ref_191
                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                    title: Time Instant
                                    type: string
                                    format: date-time
                                  - type: string
                                    const: now
                            formats:
                              description: List of available formats
                              type: array
                              minItems: 1
                              items:
                                type: string
                              readOnly: true
                          required: &ref_80
                            - id
                            - name
                            - formats
                        - properties:
                            system@link:
                              description: Link to the system producing the observations
                              readOnly: true
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Link
                              type: object
                              required: &ref_11
                                - href
                              properties: &ref_12
                                href:
                                  description: URL of target resource
                                  type: string
                                  format: uri
                                  examples:
                                    - https://data.example.com/link/to/resource
                                rel:
                                  description: Link relation type
                                  type: string
                                  examples:
                                    - alternate
                                    - self
                                    - http://www.opengis.net/def/rel/ogc/1.0/conformance
                                type:
                                  description: Media type of target resource
                                  type: string
                                  examples:
                                    - application/json
                                    - image/tiff; application=geotiff
                                hreflang:
                                  description: Language tag of target resource (2-letter language code, followed by optional 2-letter region code)
                                  type: string
                                  minLength: 1
                                  pattern: ^([a-z]{2}(-[A-Z]{2})?)|x-default$
                                  examples:
                                    - en-US
                                    - fr-FR
                                    - de
                                title:
                                  description: Title of target resource
                                  type: string
                                  minLength: 1
                                  examples:
                                    - Resource Name
                                uid:
                                  description: Unique identifier of target resource
                                  type: string
                                  format: uri
                                  examples:
                                    - urn:x-org:resourceType:0001
                                rt:
                                  description: Semantic type of target resource (RFC 6690)
                                  type: string
                                  format: uri
                                  examples:
                                    - http://www.example.org/uri/of/concept
                                if:
                                  description: Interface used to access target resource (RFC 6690)
                                  type: string
                                  format: uri
                                  examples:
                                    - http://www.opengis.net/spec/spec-id/version
                            outputName:
                              description: Name of the system output feeding this datastream
                              type: string
                            procedure@link:
                              description: Link to the procedure used to acquire observations (only provided if all observations in the datastream share the same procedure)
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Link
                              type: object
                              required: *ref_11
                              properties: *ref_12
                            deployment@link:
                              description: Link to the deployment during which the observations are/were collected (only provided if all observations in the datastream share the same deployment)
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Link
                              type: object
                              required: *ref_11
                              properties: *ref_12
                            featureOfInterest@link:
                              description: Link to the ultimate feature of interest (only provided if all observations in the datastream share the same feature of interest)
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Link
                              type: object
                              required: *ref_11
                              properties: *ref_12
                            samplingFeature@link:
                              description: Link to the sampling feature (only provided if all observations in the datastream share the same sampling feature)
                              $schema: https://json-schema.org/draft/2020-12/schema
                              title: Link
                              type: object
                              required: *ref_11
                              properties: *ref_12
                            observedProperties:
                              oneOf:
                                - type: 'null'
                                - description: List of observed properties included in this datastream
                                  type: array
                                  minItems: 1
                                  items:
                                    type: object
                                    properties:
                                      definition:
                                        type: string
                                        format: uri
                                      label:
                                        type: string
                                      description:
                                        type: string
                              readOnly: true
                            phenomenonTime:
                              oneOf:
                                - type: 'null'
                                - description: Time extent spanning all phenomenon times of observations in this datastream
                                  $schema: https://json-schema.org/draft/2020-12/schema
                                  title: Time Period
                                  type: array
                                  minItems: 2
                                  maxItems: 2
                                  items: *ref_13
                              readOnly: true
                            phenomenonTimeInterval:
                              description: An indication of how often feature of interest properties are observed
                              type: string
                              format: duration
                            resultTime:
                              oneOf:
                                - type: 'null'
                                - description: Time extent spanning all result times of observations in this datastream
                                  $schema: https://json-schema.org/draft/2020-12/schema
                                  title: Time Period
                                  type: array
                                  minItems: 2
                                  maxItems: 2
                                  items: *ref_13
                              readOnly: true
                            resultTimeInterval:
                              description: An indication of how often observation results are produced
                              type: string
                              format: duration
                            type:
                              type: string
                              enum:
                                - status
                                - observation
                            resultType:
                              oneOf:
                                - type: 'null'
                                - type: string
                                  enum:
                                    - measure
                                    - vector
                                    - record
                                    - coverage
                                    - complex
                              readOnly: true
                            live:
                              oneOf:
                                - type: 'null'
                                - description: Flag indicating if the datastream is currently streaming data
                                  type: boolean
                            schema:
                              description: Schema describing the content of observations in this datastream. The exact syntax of the schema depends on the encoding format.
                              writeOnly: true
                              $schema: https://json-schema.org/draft/2020-12/schema
                              oneOf: &ref_57
                                - title: JSON
                                  $schema: https://json-schema.org/draft/2020-12/schema
                                  type: object
                                  properties: &ref_208
                                    obsFormat:
                                      const: application/json
                                    parametersSchema:
                                      description: Record schema for the observation `parameters` property. If omitted, parameters are not included in the datastream.
                                      $schema: https://json-schema.org/draft/2020-12/schema
                                      type: object
                                      allOf: &ref_28
                                        - $schema: https://json-schema.org/draft/2020-12/schema
                                          description: Abstract base class for all data components
                                          type: object
                                          allOf: &ref_14
                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                              description: Base substitution groups for all SWE Common objects with identification metadata
                                              type: object
                                              allOf: &ref_114
                                                - $schema: https://json-schema.org/draft/2020-12/schema
                                                  description: Base substitution groups for all SWE Common objects other than value objects
                                                  type: object
                                                  properties: &ref_37
                                                    id:
                                                      description: The ID of the object, referenceable using a URI fragment
                                                      type: string
                                                      minLength: 1
                                                - properties:
                                                    label:
                                                      description: Human readable label for the object
                                                      type: string
                                                      minLength: 1
                                                    description:
                                                      description: Human readable description of the object
                                                      type: string
                                                      minLength: 1
                                            - properties:
                                                type:
                                                  type: string
                                                updatable:
                                                  description: Specifies if the value of a data component can be updated externally (i.e., is variable)
                                                  type: boolean
                                                  default: false
                                                optional:
                                                  description: Specifies if the data for this component can be omitted in the datastream
                                                  type: boolean
                                                  default: false
                                                definition:
                                                  description: The definition of the property whose value is provided by this component (semantic link)
                                                  type: string
                                                  format: uri
                                        - properties:
                                            type:
                                              const: DataRecord
                                            fields:
                                              description: Definition of the record fields. Fields can be scalars or can themself be aggregates such as records, vectors, arrays, or choices.
                                              type: array
                                              minItems: 1
                                              items:
                                                allOf:
                                                  - type: object
                                                    properties: &ref_29
                                                      name:
                                                        type: string
                                                        minLength: 1
                                                        pattern: ^[A-Za-z][A-Za-z0-9_\-]*$
                                                    required: &ref_30
                                                      - name
                                                  - oneOf:
                                                      - type: object
                                                        properties: &ref_34
                                                          href:
                                                            type: string
                                                            format: uri-reference
                                                          role:
                                                            type: string
                                                            format: uri
                                                          arcrole:
                                                            type: string
                                                            format: uri
                                                          title:
                                                            type: string
                                                            minLength: 1
                                                        required: &ref_35
                                                          - href
                                                      - oneOf: &ref_36
                                                          - oneOf: &ref_120
                                                              - oneOf: &ref_194
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: 'Scalar component used to express truth: True or False, 0 or 1'
                                                                    type: object
                                                                    allOf: &ref_192
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: &ref_15
                                                                          - $schema: https://json-schema.org/draft/2020-12/schema
                                                                            description: Abstract base class for all data components
                                                                            type: object
                                                                            allOf: *ref_14
                                                                          - properties:
                                                                              referenceFrame:
                                                                                description: Frame of reference (usually temporal or spatial) with respect to which the value of the component is expressed. A reference frame anchors a value to a real world datum.
                                                                                type: string
                                                                                format: uri-reference
                                                                              axisID:
                                                                                description: Specifies the reference axis (refer to CRS axisID). The reference frame URI should also be specified unless it is inherited from parent Vector
                                                                                type: string
                                                                                minLength: 1
                                                                              nilValues:
                                                                                description: Defines reserved values with special meaning (e.g., missing, out-of-range, etc.)
                                                                              constraint: {}
                                                                              value:
                                                                                description: Inline value(s) for the component. This property is optional to enable structure to act as a schema for values provided separately (e.g., in a datastream)
                                                                      - properties:
                                                                          type:
                                                                            const: Boolean
                                                                          value:
                                                                            type: boolean
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Scalar component with integer representation used for a discrete counting value
                                                                    type: object
                                                                    allOf: &ref_31
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: *ref_15
                                                                      - properties:
                                                                          type:
                                                                            const: Count
                                                                          constraint:
                                                                            description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
                                                                            type: object
                                                                            properties: &ref_17
                                                                              type:
                                                                                const: AllowedValues
                                                                              values:
                                                                                type: array
                                                                                minItems: 1
                                                                                items:
                                                                                  oneOf: &ref_16
                                                                                    - title: Number
                                                                                      type: number
                                                                                    - title: Special Value
                                                                                      type: string
                                                                                      enum:
                                                                                        - NaN
                                                                                        - Infinity
                                                                                        - +Infinity
                                                                                        - '-Infinity'
                                                                              intervals:
                                                                                type: array
                                                                                minItems: 1
                                                                                items:
                                                                                  type: array
                                                                                  minItems: 2
                                                                                  maxItems: 2
                                                                                  items:
                                                                                    oneOf: *ref_16
                                                                              significantFigures:
                                                                                type: integer
                                                                                minimum: 1
                                                                                maximum: 40
                                                                            anyOf: &ref_18
                                                                              - title: Enum Values
                                                                                required:
                                                                                  - values
                                                                              - title: Intervals
                                                                                required:
                                                                                  - intervals
                                                                          nilValues:
                                                                            type: array
                                                                            minItems: 1
                                                                            items: &ref_193
                                                                              type: object
                                                                              properties:
                                                                                reason:
                                                                                  description: The reason for using the reserved value
                                                                                  type: string
                                                                                  format: uri
                                                                                value:
                                                                                  description: The reserved value itself
                                                                                  type: integer
                                                                              required:
                                                                                - reason
                                                                                - value
                                                                              additionalProperties: false
                                                                          value:
                                                                            type: integer
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Scalar component with decimal representation and a unit of measure used to store value of a continuous quantity
                                                                    type: object
                                                                    allOf: &ref_32
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: *ref_15
                                                                      - properties:
                                                                          type:
                                                                            const: Quantity
                                                                          uom:
                                                                            description: Unit of measure used to express the value of this data component
                                                                            type: object
                                                                            properties: &ref_19
                                                                              label:
                                                                                description: A human readable label for the unit
                                                                                type: string
                                                                                minLength: 1
                                                                              symbol:
                                                                                description: The preferred unit symbol to use when presenting the data in a UI (use the UCUM code instead if no symbol is provided)
                                                                                type: string
                                                                                minLength: 1
                                                                              code:
                                                                                type: string
                                                                                minLength: 1
                                                                              href:
                                                                                type: string
                                                                                format: uri
                                                                            anyOf: &ref_20
                                                                              - title: UCUM Code
                                                                                required:
                                                                                  - code
                                                                              - title: URI
                                                                                required:
                                                                                  - href
                                                                            unevaluatedProperties: false
                                                                          constraint:
                                                                            description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
                                                                            type: object
                                                                            properties: *ref_17
                                                                            anyOf: *ref_18
                                                                          nilValues:
                                                                            type: array
                                                                            minItems: 1
                                                                            items: &ref_24
                                                                              type: object
                                                                              properties:
                                                                                reason:
                                                                                  description: The reason for using the reserved value
                                                                                  type: string
                                                                                  format: uri
                                                                                value:
                                                                                  description: The reserved value itself
                                                                                  oneOf: *ref_16
                                                                              required:
                                                                                - reason
                                                                                - value
                                                                              additionalProperties: false
                                                                          value:
                                                                            oneOf: *ref_16
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                                          - uom
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Scalar component used to represent a time quantity either as ISO 8601 (e.g., 2004-04-18T12:03:04.6Z) or as a duration relative to a time of reference
                                                                    type: object
                                                                    allOf: &ref_33
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: *ref_15
                                                                      - properties:
                                                                          type:
                                                                            const: Time
                                                                          referenceTime:
                                                                            description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
                                                                            type: string
                                                                            format: date-time
                                                                          localFrame:
                                                                            description: Temporal frame of reference whose origin is located by the value of this component
                                                                            type: string
                                                                            format: uri
                                                                          uom:
                                                                            description: Temporal unit of measure used to express the value of this data component
                                                                            type: object
                                                                            properties: *ref_19
                                                                            anyOf: *ref_20
                                                                            unevaluatedProperties: false
                                                                          constraint:
                                                                            description: Defines the permitted values for the component, as a time range or an enumerated list of time values
                                                                            type: object
                                                                            properties: &ref_25
                                                                              type:
                                                                                const: AllowedTimes
                                                                              values:
                                                                                type: array
                                                                                minItems: 1
                                                                                items:
                                                                                  oneOf: &ref_21
                                                                                    - title: Date/Time
                                                                                      type: string
                                                                                      format: date-time
                                                                                    - oneOf: *ref_16
                                                                              intervals:
                                                                                type: array
                                                                                items:
                                                                                  type: array
                                                                                  minItems: 2
                                                                                  maxItems: 2
                                                                                  items:
                                                                                    oneOf: *ref_21
                                                                              significantFigures:
                                                                                type: integer
                                                                                minimum: 1
                                                                                maximum: 40
                                                                            anyOf: &ref_26
                                                                              - title: Enum Values
                                                                                required:
                                                                                  - values
                                                                              - title: Intervals
                                                                                required:
                                                                                  - intervals
                                                                          nilValues:
                                                                            type: array
                                                                            minItems: 1
                                                                            items: &ref_27
                                                                              type: object
                                                                              properties:
                                                                                reason:
                                                                                  description: The reason for using the reserved value
                                                                                  type: string
                                                                                  format: uri
                                                                                value:
                                                                                  description: The reserved value itself
                                                                                  oneOf: *ref_21
                                                                              required:
                                                                                - reason
                                                                                - value
                                                                              additionalProperties: false
                                                                          value:
                                                                            oneOf: *ref_21
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                                          - uom
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Scalar component used to represent a categorical value as a simple token identifying a term in a code space
                                                                    type: object
                                                                    allOf: &ref_40
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: *ref_15
                                                                      - properties:
                                                                          type:
                                                                            const: Category
                                                                          codeSpace:
                                                                            description: Name of the dictionary where the possible values for this component are listed and defined
                                                                            type: string
                                                                            format: uri
                                                                          constraint:
                                                                            description: Defines permitted values for the component, as an enumerated list of tokens or a regular expression pattern
                                                                            type: object
                                                                            oneOf: &ref_22
                                                                              - title: Enum Values
                                                                                properties:
                                                                                  type:
                                                                                    const: AllowedTokens
                                                                                  values:
                                                                                    type: array
                                                                                    minItems: 1
                                                                                    items:
                                                                                      type: string
                                                                                      minLength: 1
                                                                                required:
                                                                                  - values
                                                                              - title: Regex Pattern
                                                                                properties:
                                                                                  type:
                                                                                    const: AllowedTokens
                                                                                  pattern:
                                                                                    type: string
                                                                                    format: regex
                                                                                    minLength: 1
                                                                                required:
                                                                                  - pattern
                                                                          nilValues:
                                                                            type: array
                                                                            minItems: 1
                                                                            items: &ref_23
                                                                              type: object
                                                                              properties:
                                                                                reason:
                                                                                  description: The reason for using the reserved value
                                                                                  type: string
                                                                                  format: uri
                                                                                value:
                                                                                  description: The reserved value itself
                                                                                  type: string
                                                                              required:
                                                                                - reason
                                                                                - value
                                                                              additionalProperties: false
                                                                          value:
                                                                            type: string
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Free text component used to store comments or any other type of textual statement
                                                                    type: object
                                                                    allOf: &ref_158
                                                                      - $schema: https://json-schema.org/draft/2020-12/schema
                                                                        type: object
                                                                        allOf: *ref_15
                                                                      - properties:
                                                                          type:
                                                                            const: Text
                                                                          constraint:
                                                                            description: Defines permitted values for the component, as an enumerated list of tokens or a regular expression pattern
                                                                            type: object
                                                                            oneOf: *ref_22
                                                                          nilValues:
                                                                            type: array
                                                                            minItems: 1
                                                                            items: *ref_23
                                                                          value:
                                                                            type: string
                                                                        required:
                                                                          - type
                                                                          - definition
                                                                          - label
                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                description: Integer pair used for specifying a count range
                                                                type: object
                                                                allOf: &ref_195
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    type: object
                                                                    allOf: *ref_15
                                                                  - properties:
                                                                      type:
                                                                        const: CountRange
                                                                      constraint:
                                                                        description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
                                                                        type: object
                                                                        properties: *ref_17
                                                                        anyOf: *ref_18
                                                                      nilValues:
                                                                        type: array
                                                                        minItems: 1
                                                                        items: *ref_23
                                                                      value:
                                                                        type: array
                                                                        minItems: 2
                                                                        maxItems: 2
                                                                        items:
                                                                          type: integer
                                                                    required:
                                                                      - type
                                                                      - definition
                                                                      - label
                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                description: Decimal pair for specifying a quantity range with a unit of measure
                                                                type: object
                                                                allOf: &ref_196
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    type: object
                                                                    allOf: *ref_15
                                                                  - properties:
                                                                      type:
                                                                        const: QuantityRange
                                                                      uom:
                                                                        description: Unit of measure used to express the value of this data component
                                                                        type: object
                                                                        properties: *ref_19
                                                                        anyOf: *ref_20
                                                                        unevaluatedProperties: false
                                                                      constraint:
                                                                        description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
                                                                        type: object
                                                                        properties: *ref_17
                                                                        anyOf: *ref_18
                                                                      nilValues:
                                                                        type: array
                                                                        minItems: 1
                                                                        items: *ref_24
                                                                      value:
                                                                        type: array
                                                                        minItems: 2
                                                                        maxItems: 2
                                                                        items:
                                                                          oneOf: *ref_16
                                                                    required:
                                                                      - type
                                                                      - definition
                                                                      - label
                                                                      - uom
                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                description: Time value pair for specifying a time range (can be a decimal or ISO 8601)
                                                                type: object
                                                                allOf: &ref_197
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    type: object
                                                                    allOf: *ref_15
                                                                  - properties:
                                                                      type:
                                                                        const: TimeRange
                                                                      referenceTime:
                                                                        description: Specifies the origin of the temporal reference frame as an ISO8601 date (used to specify time after an epoch that is to say in a custom frame)
                                                                        type: string
                                                                        format: date-time
                                                                      localFrame:
                                                                        description: Temporal frame of reference whose origin is located by the value of this component
                                                                        type: string
                                                                        format: uri
                                                                      uom:
                                                                        description: Temporal unit of measure used to express the value of this data component
                                                                        type: object
                                                                        properties: *ref_19
                                                                        anyOf: *ref_20
                                                                        unevaluatedProperties: false
                                                                      constraint:
                                                                        description: Defines the permitted values for the component, as a time range or an enumerated list of time values
                                                                        type: object
                                                                        properties: *ref_25
                                                                        anyOf: *ref_26
                                                                      nilValues:
                                                                        type: array
                                                                        minItems: 1
                                                                        items: *ref_27
                                                                      value:
                                                                        type: array
                                                                        minItems: 2
                                                                        maxItems: 2
                                                                        items:
                                                                          oneOf: *ref_21
                                                                    required:
                                                                      - type
                                                                      - definition
                                                                      - label
                                                                      - uom
                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                description: Pair of categorical values used to specify a range in an ordinal reference system (specified by the code space)
                                                                type: object
                                                                allOf: &ref_198
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    type: object
                                                                    allOf: *ref_15
                                                                  - properties:
                                                                      type:
                                                                        const: CategoryRange
                                                                      codeSpace:
                                                                        description: Name of the dictionary defining an ordered set of values with respect to which the range is expressed (ordinal reference system)
                                                                        type: string
                                                                        format: uri
                                                                      constraint:
                                                                        description: Defines permitted values for the component, as an enumerated list of tokens or a regular expression pattern
                                                                        type: object
                                                                        oneOf: *ref_22
                                                                      nilValues:
                                                                        type: array
                                                                        minItems: 1
                                                                        items: *ref_23
                                                                      value:
                                                                        type: array
                                                                        minItems: 2
                                                                        maxItems: 2
                                                                        items:
                                                                          type: string
                                                                    required:
                                                                      - type
                                                                      - definition
                                                                      - label
                                                          - $schema: https://json-schema.org/draft/2020-12/schema
                                                            description: Implementation of ISO-11404 Record datatype. This allows grouping (sequence) of data components which can themselves be simple types, records, arrays or choices
                                                            type: object
                                                            allOf: *ref_28
                                                          - $schema: https://json-schema.org/draft/2020-12/schema
                                                            description: Implementation of a mathematical vector composed of a list of scalar coordinates expressed in the mandatory reference frame.
                                                            type: object
                                                            allOf: &ref_121
                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                description: Abstract base class for all data components
                                                                type: object
                                                                allOf: *ref_14
                                                              - properties:
                                                                  type:
                                                                    const: Vector
                                                                  referenceFrame:
                                                                    description: Frame of reference (usually spatial) with respect to which the coordinates of this vector are expressed. A reference frame anchors a vector value to a real world datum.
                                                                    type: string
                                                                    format: uri-reference
                                                                  localFrame:
                                                                    description: Frame of reference whose origin is located by the coordinates of this vector
                                                                    type: string
                                                                    format: uri-reference
                                                                  coordinates:
                                                                    description: Definition of the coordinate provided as a data component with a numerical representation
                                                                    type: array
                                                                    items:
                                                                      allOf:
                                                                        - type: object
                                                                          properties: *ref_29
                                                                          required: *ref_30
                                                                        - oneOf:
                                                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                                                              description: Scalar component with integer representation used for a discrete counting value
                                                                              type: object
                                                                              allOf: *ref_31
                                                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                                                              description: Scalar component with decimal representation and a unit of measure used to store value of a continuous quantity
                                                                              type: object
                                                                              allOf: *ref_32
                                                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                                                              description: Scalar component used to represent a time quantity either as ISO 8601 (e.g., 2004-04-18T12:03:04.6Z) or as a duration relative to a time of reference
                                                                              type: object
                                                                              allOf: *ref_33
                                                                required:
                                                                  - type
                                                                  - definition
                                                                  - referenceFrame
                                                                  - label
                                                                  - coordinates
                                                          - $schema: https://json-schema.org/draft/2020-12/schema
                                                            description: Implementation of ISO-11404 Array datatype. This defines an array of identical data components with a elementCount. Values are given as a block and can be encoded in different ways
                                                            allOf: &ref_122
                                                              - type: object
                                                                allOf: &ref_39
                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                    description: Abstract base class for all data components
                                                                    type: object
                                                                    allOf: *ref_14
                                                                  - properties:
                                                                      elementCount:
                                                                        description: Specifies the size of the array (i.e., the number of elements of the defined type it contains)
                                                                        oneOf:
                                                                          - type: object
                                                                            properties: *ref_34
                                                                            required: *ref_35
                                                                          - type: object
                                                                            allOf: &ref_199
                                                                              - $schema: https://json-schema.org/draft/2020-12/schema
                                                                                type: object
                                                                                allOf: *ref_15
                                                                              - properties:
                                                                                  constraint:
                                                                                    description: Defines the permitted values for the component as an enumerated list and/or a list of inclusive ranges
                                                                                    type: object
                                                                                    properties: *ref_17
                                                                                    anyOf: *ref_18
                                                                                  value:
                                                                                    description: Value is optional, to enable structure to act as a schema for values provided using other encodings
                                                                                    type: integer
                                                                      elementType:
                                                                        description: Defines the structure of the element that will be repeated in the array
                                                                        allOf:
                                                                          - type: object
                                                                            properties: *ref_29
                                                                            required: *ref_30
                                                                          - oneOf:
                                                                              - type: object
                                                                                properties: *ref_34
                                                                                required: *ref_35
                                                                              - oneOf: *ref_36
                                                                      encoding:
                                                                        description: Specifies the type of method used to encode the array values
                                                                        oneOf:
                                                                          - description: Parameters of the binary encoding method
                                                                            type: object
                                                                            allOf: &ref_43
                                                                              - type: object
                                                                                allOf: &ref_38
                                                                                  - $schema: https://json-schema.org/draft/2020-12/schema
                                                                                    description: Base substitution groups for all SWE Common objects other than value objects
                                                                                    type: object
                                                                                    properties: *ref_37
                                                                                  - properties: {}
                                                                              - properties:
                                                                                  type:
                                                                                    const: BinaryEncoding
                                                                                  byteOrder:
                                                                                    description: Byte order convention used to encode this binary data (big endian = most significant byte first, MSB or little endian = least significant byte first, LSB)
                                                                                    type: string
                                                                                    enum:
                                                                                      - bigEndian
                                                                                      - littleEndian
                                                                                  byteEncoding:
                                                                                    description: Byte encoding method used to encode the binary data (raw or base 64)
                                                                                    type: string
                                                                                    enum:
                                                                                      - base64
                                                                                      - raw
                                                                                  byteLength:
                                                                                    description: Total length in bytes of the binary stream (if known in advance)
                                                                                    type: integer
                                                                                  members:
                                                                                    description: Each member contains detailed parameters for encoding a scalar value or a block of values
                                                                                    type: array
                                                                                    minItems: 1
                                                                                    items:
                                                                                      oneOf:
                                                                                        - description: Binary encoding parameters used for encoding a single data component
                                                                                          type: object
                                                                                          allOf: &ref_200
                                                                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                                                                              description: Base substitution groups for all SWE Common objects other than value objects
                                                                                              type: object
                                                                                              properties: *ref_37
                                                                                            - properties:
                                                                                                type:
                                                                                                  const: Component
                                                                                                encryption:
                                                                                                  description: Name of the encryption method used to encrypt the value of this field
                                                                                                  type: string
                                                                                                  format: uri
                                                                                                significantBits:
                                                                                                  description: Number of significant bits actually used for a binary encoded numerical value (all remaining bits shall be set to 0)
                                                                                                  type: integer
                                                                                                bitLength:
                                                                                                  type: integer
                                                                                                byteLength:
                                                                                                  description: Byte length of this field when a custom data type is used
                                                                                                  type: integer
                                                                                                dataType:
                                                                                                  description: Binary data type used to encode the value(s) of the referenced data component
                                                                                                  type: string
                                                                                                  format: uri
                                                                                                ref:
                                                                                                  description: Reference to the data component that these binary encoding settings apply to
                                                                                                  type: string
                                                                                              required:
                                                                                                - type
                                                                                                - dataType
                                                                                                - ref
                                                                                        - description: Binary encoding parameters used to encode a block of values at once. This is used for encrypting or compressing a complete array of values for instance
                                                                                          type: object
                                                                                          allOf: &ref_201
                                                                                            - $schema: https://json-schema.org/draft/2020-12/schema
                                                                                              description: Base substitution groups for all SWE Common objects other than value objects
                                                                                              type: object
                                                                                              properties: *ref_37
                                                                                            - properties:
                                                                                                type:
                                                                                                  const: Block
                                                                                                compression:
                                                                                                  description: Name of the compression method used to encrypt the block of values described by the referenced data component
                                                                                                  type: string
                                                                                                  format: uri
                                                                                                encryption:
                                                                                                  description: Name of the encryption method used to encrypt the block of values described by the referenced data component
                                                                                                  type: string
                                                                                                  format: uri
                                                                                                paddingBytes-after:
                                                                                                  description: Number of padding bytes present in the stream after this binary block
                                                                                                  type: integer
                                                                                                paddingBytes-before:
                                                                                                  description: Number of padding bytes present in the stream before this binary block
                                                                                                  type: integer
                                                                                                byteLength:
                                                                                                  description: Length in byte of this binary block (if known in advance)
                                                                                                  type: integer
                                                                                                ref:
                                                                                                  description: Reference to the aggregate data component that this binary block encoding settings apply to
                                                                                                  type: string
                                                                                              required:
                                                                                                - type
                                                                                                - ref
                                                                                required:
                                                                                  - type
                                                                                  - byteOrder
                                                                                  - byteEncoding
                                                                                  - members
                                                                          - description: Parameters of the text encoding method
                                                                            type: object
                                                                            allOf: &ref_42
                                                                              - type: object
                                                                                allOf: *ref_38
                                                                              - properties:
                                                                                  type:
                                                                                    const: TextEncoding
                                                                                  collapseWhiteSpaces:
                                                                                    description: Indicates whether white spaces (i.e., space, tab, CR, LF) should be collapsed with separators when parsing the data stream
                                                                                    type: boolean
                                                                                  decimalSeparator:
                                                                                    description: Character used as the decimal separator
                                                                                    type: string
                                                                                    minLength: 1
                                                                                  tokenSeparator:
[...]
